@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lexend', sans-serif !important;
}

:root {
  background-color: rgb(245, 245, 245);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* .bg-size-100 {
    background-size: cover;
    background-repeat: no-repeat;
} */